

.card{
    padding: 20px 0;
    background-color: rgb(248,249,250); 
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f9a826;
    outline: 0;
    box-shadow: none;
}


.border-rad{

    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;

    color: #fff;
    background-color: #f9a826;
    border-color: #f9a826;
}

.border-rad:focus, .border-rad:hover{
    background-color: white !important;
    color: #f9a826;
    border-color: #f9a826;
}




.border-rad:hover{
   
     background-color: #f9a826;
    border-color: #f9a826;

}