<section>
  <div class="container pt-4">
    <nav class="row   ">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div *ngFor="let cat of allCategory | keyvalue" class="col-3">
              <div  *ngIf="Number(cat.key) < 4">
              <a routerLink="/viewcategory/{{cat.key}}" class="text-center d-flex flex-column justify-content-center">
                <button type="button" class="icon-hover btn btn-outline-secondary mx-auto mb-2"
                  data-mdb-ripple-color="dark">
                  <fa-icon [icon]="allIcons[Number(cat.key)]" />
                </button>
                <div class="text-category">{{cat.value}}</div>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
            <div *ngFor="let cat of allCategory | keyvalue" class="col-3">
              <div  *ngIf="Number(cat.key) > 3">
              <a routerLink="/viewcategory/{{cat.key}}" class="text-center d-flex flex-column justify-content-center">
                <button type="button" class="icon-hover btn btn-outline-secondary mx-auto mb-2"
                  data-mdb-ripple-color="dark">
                  <fa-icon [icon]="allIcons[Number(cat.key)]" />
                </button>
                <div class="text-category">{{cat.value}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>