<section class="container pt-5">

  <div class="d-flex justify-content-between mx-5 align-items-center">
    <div class="col-md-6">
      <div class="heading-section font-monospace display-4 text-uppercase">
        All Products
      </div>
    </div>
    <!-- Category sorting -->
    <div class="d-flex ">

      <div class="dropdown me-3">
        <div class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
          aria-expanded="false">
          Category
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><span (click)="sortByCategory(-1)" class="dropdown-item">All</span></li>
          <li><span (click)="sortByCategory(cat.key)" class="dropdown-item"
              *ngFor="let cat of this.allCategory | keyvalue">
              {{cat.value}}
            </span>
          </li>
        </ul>
      </div>
      <!-- Price sorting -->
      <div class="dropdown">
        <div class="btn btn-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
          aria-expanded="false">
          Sort By
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" (click)="applySorting('Default')">Default</a></li>
          <li><a class="dropdown-item" (click)="applySorting('Price', 'Up')">Price Ascending</a></li>
          <li><a class="dropdown-item" (click)="applySorting('Price', 'Down')">Price Descending</a></li>
          <li><a class="dropdown-item" (click)="applySorting('Discount')">Discount</a></li>
          <li><a class="dropdown-item" (click)="applySorting('Stock')">Stock</a></li>
        </ul>
      </div>

    </div>
  </div>
</section>



<!-- Table -->

<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table align-middle table-hover mb-0">
          <thead class="">
            <tr class="text-center text-uppercase">
              <th>#</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Stock</th>
              <th>MRP</th>
              <th>Discount(%)</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of this.sortedData | paginate: {
              itemsPerPage: 11,
              currentPage: this.pagination,
              totalItems: this.allProductsCount
            };
            let idx = index;" class="text-center row-hover" routerLink="/viewproduct/{{product.details.id}}">
              <td class="fw-bold">
                {{product.details.id}}
              </td>

              <td>
                <div class="d-flex align-items-center">
                  <img src={{product.images.imageAddress}} alt="" style="width: 45px; height: 45px"
                    class="rounded-2" />
                  <div class="ms-2">
                    <p class="text-black mb-0">{{[product.details.name]}}</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="mb-0">{{product.details.quantity}} {{returnSizeType(product.details.sizeType)}}</p>
              </td>
              <td>
                <p class="mb-0">{{returnCategoryType(product.details.category)}}</p>
              </td>
              <td>
                <p class="mb-0">{{product.details.stock}}</p>
              </td>
              <td>
                <p class="mb-0">{{product.details.price | currency: 'INR'}}</p>
              </td>
              <td>
                <p class="mb-0">{{product.details.discount}}</p>
              </td>
              <td>
                <p class="mb-0">{{returnPrice(product.details.price, product.details.discount) | currency: 'INR'}}</p>
              </td>
              <td>
                <a routerLink="/editproduct/{{this.user.id}}/{{this.user.isAdmin}}/{{product.details.id}}" title="Edit"
                  type="button" class="edit-hover px-2">
                  <fa-icon [icon]="editIcon" />
                </a>
                <a (click)="deleteProductById(product.details.id,$event)" title="Delete" type="button" class="delete-hover px-2">
                  <fa-icon [icon]="deleteIcon" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="this.allProductsCount > 12 || this.pagination > 1" class="d-flex justify-content-center mt-5">
    <pagination-controls (pageChange)="renderPage($event)"></pagination-controls>
  </div>
</div>