<!-- Feature -->
<section class="" style="background-color: rgb(248,249,250);">
    <div class="container text-dark pt-3">
      <header class="pt-4 pb-3">
        <h3 class="font-monospace">Why choose us</h3>
      </header>
  
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <figure class="d-flex align-items-center mb-4">
            <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
              <fa-icon class="text-success fw-bold floating" [icon]="awardSign" />
            </span>
            <figcaption class="info">
              <h6 class="title">Reasonable prices</h6>
              <p class="small">Our prices are unbeatable, ensuring you get the best value for your money.</p>
            </figcaption>
          </figure>
          <!-- itemside // -->
        </div>
        <!-- col // -->
        <div class="col-lg-4 col-md-6">
          <figure class="d-flex align-items-center mb-4">
            <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                <fa-icon class="text-success fw-bold floating" [icon]="starIcon" />
            </span>
            <figcaption class="info">
              <h6 class="title">Best quality</h6>
              <p class="small">We prioritize offering the highest quality products for your satisfaction.</p>
            </figcaption>
          </figure>
          <!-- itemside // -->
        </div>
        <!-- col // -->
        <div class="col-lg-4 col-md-6">
          <figure class="d-flex align-items-center mb-4">
            <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                <fa-icon class="text-success fw-bold floating" [icon]="planeSign" />
            </span>
            <figcaption class="info">
              <h6 class="title">Worldwide shipping</h6>
              <p class="small"> Enjoy the convenience of shopping with us, with easy online ordering and prompt delivery.</p>
            </figcaption>
          </figure>
          <!-- itemside // -->
        </div>
        <!-- col // -->
        <div class="col-lg-4 col-md-6">
          <figure class="d-flex align-items-center mb-4">
            <span class="rounded-circle bg-white p-2 d-flex me-2 mb-2">
                <fa-icon class="text-success fw-bold floating my-1 mx-2" [icon]="peopleIcon" />
            </span>
            <figcaption class="info">
              <h6 class="title">Freshness</h6>
              <p class="small">Our commitment to freshness guarantees you'll find the freshest produce and products every time.</p>
            </figcaption>
          </figure>
          <!-- itemside // -->
        </div>
        <!-- col // -->
        <div class="col-lg-4 col-md-6">
          <figure class="d-flex align-items-center mb-4">
            <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                <fa-icon class="text-success fw-bold floating" [icon]="likeIcon" />
            </span>
            <figcaption class="info">
              <h6 class="title">Happy customers</h6>
              <p class="small">Our friendly and knowledgeable staff are always ready to assist you and provide exceptional customer service.</p>
            </figcaption>
          </figure>
          <!-- itemside // -->
        </div>
        <!-- col // -->
        <div class="col-lg-4 col-md-6">
          <figure class="d-flex align-items-center mb-4">
            <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                <fa-icon class="text-success fw-bold floating" [icon]="wareHouseIcon" />
            </span>
            <figcaption class="info">
              <h6 class="title">Thousand items</h6>
              <p class="small">We offer a vast range of products to meet all your grocery needs under one roof.</p>
            </figcaption>
          </figure>
          <!-- itemside // -->
        </div>
        <!-- col // -->
      </div>
    </div>
    <!-- container end.// -->
  </section>
  <!-- Feature -->
  