<div class="container py-5">

    <div class="container">

        <div class="row">
            <div class="col-6 col-sm-4 col-md-3">
                <img src="../../../assets/homeImages/delivery.jpg" class="img-fluid img" alt="Website Image 1">
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <img src="../../../assets/homeImages/offers.jpg" class="img-fluid img" alt="Website Image 2">
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <img src="../../../assets/homeImages/quality.jpg" class="img-fluid img" alt="Website Image 4">
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <img src="../../../assets/homeImages/safe.jpg" class="img-fluid img" alt="Website Image 5">
            </div>
        </div>



        <div class="d-flex justify-content-center align-items-center pt-5">
            <h1 class="font-monospace text-uppercase text-muted">offERS</h1>
        </div>
        <hr class="mx-1 text-black " />

        <div class="row gy-4">
            <div class="col-md-6 col-lg-3" *ngFor="let offer of this.allOffers">
                <div class="card border-0">
                    <div class="p-2 ">
                        <h5 class="text-black mb-0">
                            <fa-icon class="text-success" [icon]="giftIcon" />
                            {{offer.offerCode}}
                        </h5>
                    </div>
                    <div class="card-body bg-card border-top-4 rounded-3">

                        <p class="card-text font-monospace text-light fw-bold">{{offer.description}}</p>
                    </div>
                </div>
            </div>            

        </div>
    </div>